body {
	color: black;
	background-color: white;
	background-image: url(Data/background.jpg);
	background-position: center center;
	font-family: Medium, Eras ITC;
	font-weight: bold;
	color: #f8f8f8;
}

.en-tete {
	color: black;
	left: 50%;
	cursor: pointer;
	position: relative;
	transform: translate(-5%,0%);
}

a {
	text-decoration: none;
	color: black;
}